body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    width:100vw;
    font-family: 'Poppins', sans-serif;
    background-image: url("./images/fodoprueba.jpg");background-size: cover;
}
body {
    background-image: url("../images/fodoprueba.jpg");
    background-size: cover;
    overflow-y: auto;
}
.navbar{
    display: flex;
    position: relative;
    height: 150px;
    width: 100%;
    background-color: #121e2c !important;
    color: #25a5ac !important;
    box-shadow: 2px 1px 2px 1px rgba(0, 0, 0, 0.684);
}

.nav-item{
    color: #25a5ac;
    
}

.nav-link:hover{
    color: #b2d454 !important;
}

.nav-link{
        color: #f2f2f2 !important;
}

.logo{
    height: 100px;
}

.container {
    display: flex;
    padding: 2%;
    width: 100%;
}

.container.mt-5{
    height: 100vh;
      /* background-color: #f2f2f2; */
    padding: 5%;
}
.navbar-collapse{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
ul{
    
    width: 100%;
    justify-content: space-evenly;
}



h2{
    color:rgb(51, 83, 117);
    
}

.accordion-item {
    color:darkslategray;
}
  
span {
    color: rgb(96, 139, 139);
    
}

.accordion-body {
    color: rgb(13, 43, 43);
}

.footer {
    position: relative;
    background-color: #121e2c;
    color: #fff;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
  }

@media (min-width: 992px) {
    
    .navbar {
      display: flex;
      position: sticky;
      top: 0;
      z-index: 1000;
    }
    
}